@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
#page-header .header-sm {
	position: absolute;
	height: 69px;
	text-align: center;
	background: #3575BE;
	padding-top: 20px;
	width: 100%;
}

#page-header .header-sm img {
	position: absolute;
	left: 8px;
}

#page-header .header-sm nav {
	display: flex;
	justify-content: space-around;
	padding-top: 2px;
	margin-left: 233px;
}

#page-header .header-sm nav #flags {
	background-color: black;
	height: 34px;
	padding-top: -1px;
	margin-top: -8px;
	border-radius: 5px;
}

#page-header .header-sm nav #flags a {
	color: white;
}

#page-header .header-sm a {
	text-decoration: none;
	color: black;
}

#page-header .header-sm .header-second-block {
	height: 55px;
	background-color: #D0D2D3;
	margin-top: 17px;
}

#page-header .menu-container {
	width: 102%;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 60px;
}

@media (min-width: 780px) {
	#page-header .hide-above-sm {
		display: none !important;
	}
}

@media (max-width: 770px) {
	#page-header .header-sm {
		background: white;
		padding-top: 39px;
	}
	#page-header .header-sm .header-second-block {
		margin-top: 22px;
		background-color: #273D83;
	}
	#page-header img {
		left: 24px;
		top: 21px;
	}
	#page-header nav a,
	#page-header nav button {
		display: none;
	}
	#page-header .menu-bar {
		position: absolute;
		right: 29px;
		top: 21px;
	}
}

#homepage {
	font-family: 'Roboto';
	font-style: normal;
	margin: 0;
}

#homepage .ui-widget {
	font-family: 'Roboto';
	font-style: normal;
}

#homepage .ui-helper-clearfix:before,
#homepage .ui-helper-clearfix:after {
	content: unset;
}

#homepage .ui-tabs .ui-tabs-nav {
	padding: unset;
}

#homepage .wrapper {
	margin: auto;
	max-width: 1400px;
	width: 100%;
	display: flex;
	gap: 11px;
}

#homepage .home-left-block {
	margin-left: 9px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#homepage .home-left-block .hero-image-block {
	display: flex;
	background-repeat: no-repeat;
	height: 348px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/horserace/img/hero-horse.jpg") no-repeat, #606060;
	background-size: cover;
	position: relative;
	margin-top: 129px;
	flex-wrap: wrap;
}

#homepage .home-left-block .hero-image-block .hero-text {
	background-color: #273D83E5;
	color: white;
	position: absolute;
	bottom: 59px;
	left: 146px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	border-radius: 4px 0px 0px 4px;
}

#homepage .home-left-block .hero-image-block .hero-text p {
	margin-left: 34.93px;
	margin-right: 123.4px;
}

#homepage .home-left-block .hero-image-block .hero-text h2 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	margin-left: 34.93px;
}

#homepage .home-left-block .hero-image-block .hero-top-text {
	color: white;
	position: absolute;
	left: 20px;
}

#homepage .home-left-block .hero-image-block .offer-sm {
	align-items: center;
	position: absolute;
	top: 19px;
	right: 7px;
	display: flex;
	flex-direction: column;
	background: #FFC700;
	border-radius: 4px;
	height: 64px;
	border: 0;
	justify-content: center;
	font-weight: 700;
	font-size: 14px;
}

#homepage .home-left-block #tabs {
	border: 0;
}

#homepage .home-left-block #tabs ul {
	margin-top: 12px;
	margin-bottom: 17px;
	background: white;
	border: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#homepage .home-left-block #tabs ul .ui-state-active {
	opacity: 1;
}

#homepage .home-left-block #tabs ul li {
	padding: 9px 69px;
	background: #4A9DDA;
	border-radius: 20px;
	height: 22px;
	border: 0;
	text-align: center;
	opacity: 0.5;
}

#homepage .home-left-block #tabs ul li a {
	text-decoration: none;
	color: white;
	float: unset;
	font-weight: 500;
	font-size: 18px;
	line-height: 140.62%;
}

#homepage .home-left-block #tabs #tabs-1-table {
	padding: 0;
}

#homepage .home-left-block #tabs #tabs-1-table .table1-header {
	background: linear-gradient(150deg, rgba(255, 255, 255, 0) 0%, rgba(41, 171, 226, 0.2) 100%), #2A3F74;
	text-align: left;
	color: white;
	font-size: 18px;
	font-weight: 700;
	padding-left: 21px;
	padding-top: 12px;
	border-radius: 4px 4px 0 0;
}

#homepage .home-left-block #tabs #tabs-1-table .table1-header h3 {
	font-weight: 500;
	font-size: 18px;
	line-height: 140.62%;
	margin: 0;
}

#homepage .home-left-block #tabs #tabs-1-table .table1-header p {
	font-weight: 400;
	font-size: 16px;
	line-height: 140.62%;
	padding: 7px 0;
	margin: 0;
}

#homepage .home-left-block #tabs #tabs-1-table .table-body .table-1:nth-of-type(even) {
	background-color: #e8f4fc;
}

#homepage .home-left-block #tabs #tabs-1-table .table-1 {
	border-collapse: collapse;
	width: -webkit-fill-available;
}

#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td:nth-child(1) {
	padding-left: 42px;
}

#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td {
	height: 70px;
	font-size: 16px;
}

#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td .table-2 {
	margin-left: 100px;
}

#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td .table-2 tr td:nth-child(1) {
	width: 529px;
}

#homepage .home-left-block #tabs #tabs-2-table {
	padding: 0;
}

#homepage .home-left-block #tabs #tabs-2-table #table-3 table {
	border-collapse: collapse;
}

#homepage .home-left-block #tabs #tabs-2-table #table-3 table tr th {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(41, 171, 226, 0.2) 100%), #2A3F74;
	text-align: left;
	color: white;
	font-size: 18px;
	font-weight: 700;
	padding-left: 21px;
	padding-top: 12px;
	height: 59px;
}

#homepage .home-left-block #tabs #tabs-2-table #table-3 table tr th img {
	margin-right: 9px;
}

#homepage .home-left-block #tabs #tabs-2-table #table-3 table tr td {
	padding-left: 65px;
	padding-right: 21px;
	height: 70px;
}

#homepage .home-left-block #tabs #tabs-2-table table {
	border-collapse: collapse;
}

#homepage .home-left-block #tabs #tabs-2-table table tr th {
	background: #0D76BD;
	text-align: left;
	color: white;
	font-size: 18px;
	font-weight: 700;
	padding-left: 21px;
	padding-top: 12px;
}

#homepage .home-left-block #tabs #tabs-2-table table tr th pre {
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 100;
}

#homepage .home-left-block #tabs #tabs-2-table table tr td {
	padding-left: 65px;
	padding-right: 21px;
	height: 70px;
}

#homepage .home-left-block #tabs #tabs-2-table table tr:nth-child(odd) {
	background-color: #e8f4fc;
}

#homepage .home-left-block .racing-info-block p {
	font-size: 16px;
	line-height: 140.62%;
	font-weight: 400;
}

#homepage .home-left-block .news-block-sm {
	border-radius: 4px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
	margin-left: 9px;
	margin-right: 7px;
}

#homepage .home-left-block .news-block-sm .news-heading {
	background: #264988;
	color: white;
	height: 65px;
	border-radius: 4px 4px 0px 0px;
	display: flex;
	flex-wrap: wrap;
}

#homepage .home-left-block .news-block-sm .news-heading img {
	margin-top: 19px;
	width: 136.05px;
	height: 132.92px;
}

#homepage .home-left-block .news-block-sm .news-heading p {
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	margin-left: 8px;
}

#homepage .home-left-block .news-block-sm .news-content {
	display: flex;
	padding: 3px 8px 0 8px;
	flex-wrap: wrap;
}

#homepage .home-left-block .news-block-sm .news-last-block {
	background: #f4f4f4;
	text-align: center;
	height: 49px;
	padding-top: 3px;
	border-radius: 0px 0px 4px 4px;
}

#homepage .home-left-block .news-block-sm .news-last-block p {
	text-transform: uppercase;
	color: #848484;
}

#homepage .home-left-block .forum-thread-block {
	height: 152px;
	background: #D9D9D9;
	display: flex;
	justify-content: center;
	align-items: center;
}

#homepage .home-left-block .forum-thread-block p {
	font-weight: 700;
}

#homepage .home-left-block .category-block {
	display: flex;
	justify-content: space-around;
	background-color: #F2F2F2;
}

#homepage .home-left-block .category-block a {
	color: #273D83;
	text-decoration: none;
}

#homepage .home-left-block .category-block-sm {
	display: flex;
	justify-content: space-around;
	background-color: #F2F2F2;
}

#homepage .home-left-block .category-block-sm a {
	color: #273D83;
	text-decoration: none;
}

#homepage .home-left-block .jockey-table-sm table {
	border-collapse: collapse;
	width: 100%;
}

#homepage .home-left-block .jockey-table-sm table tr th {
	height: 40px;
	text-align: left;
	font-weight: 700;
	font-size: 18px;
	line-height: 140.62%;
}

#homepage .home-left-block .jockey-table-sm table tr:nth-child(odd) {
	background-color: #e8f4fc;
}

#homepage .home-left-block .jockey-table-sm table tr td {
	height: 27px;
}

#homepage .home-left-block .jockey-table table {
	border-collapse: collapse;
	width: 100%;
}

#homepage .home-left-block .jockey-table table tr th {
	height: 40px;
	text-align: left;
	font-weight: 700;
	font-size: 18px;
	line-height: 140.62%;
}

#homepage .home-left-block .jockey-table table tr th .jockey-heading {
	display: inline-flex;
	gap: 9px;
	margin-top: 3px;
	margin-left: 7px;
}

#homepage .home-left-block .jockey-table table tr th .jockey-heading p {
	margin: 0;
}

#homepage .home-left-block .jockey-table table tr:nth-child(odd) {
	background-color: #e8f4fc;
}

#homepage .home-left-block .jockey-table table tr td {
	height: 27px;
}

#homepage .home-ad-block {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 128px;
}

#homepage .home-ad-block .ad-blocks {
	background: #FFFFFF;
	height: 72px;
	width: 300px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	display: flex;
}

#homepage .home-ad-block .ad-blocks .ad-text {
	margin-top: 7px;
	margin-left: 8px;
	flex: 3;
}

#homepage .home-ad-block .ad-blocks button {
	flex: 1;
	background: #FFC700;
	border-radius: 8px;
	height: 56px;
	border: 0;
	margin-top: 9px;
	padding: 4px 12px;
	margin-right: 11px;
	font-weight: 900;
	font-size: 14px;
	line-height: 18px;
}

#homepage .home-ad-block .ad-blocks img {
	margin-bottom: 4px;
}

#homepage .home-ad-block .ad-blocks p {
	color: #333333;
	margin: 0 15px 0 5px;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 16px;
}

#homepage .home-ad-block .ad-blocks .offer-image {
	margin-top: -66px;
}

#homepage .home-ad-block .offer-block {
	width: 300px;
	height: 216px;
	background: #264988;
	border-radius: 4px;
	padding-left: 5px;
	margin-right: 10px;
}

#homepage .home-ad-block .offer-block img {
	width: 143px;
	height: 63px;
	margin-left: 10px;
}

#homepage .home-ad-block .offer-block h3 {
	color: white;
	margin: 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	margin-right: 66px;
	margin-left: 13px;
}

#homepage .home-ad-block .offer-block p {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	margin-left: 13px;
	color: white;
	margin-top: 6px;
	margin-bottom: 8px;
}

#homepage .home-ad-block .offer-block button {
	width: 274px;
	height: 50px;
	padding-left: 5px;
	background: #FFC700;
	font-weight: 700;
	font-size: 18px;
	border: 0;
	margin-left: 9px;
	margin-left: 13px;
	margin-right: 14px;
	border-radius: 4px;
}

#homepage .news-block {
	width: 300px;
	border-radius: 4px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
	margin-right: 10px;
}

#homepage .news-block .news-heading {
	background: #264988;
	color: white;
	height: 65px;
	border-radius: 4px 4px 0px 0px;
	display: flex;
}

#homepage .news-block .news-heading img {
	margin-top: 19px;
	width: 136.05px;
	height: 132.92px;
}

#homepage .news-block .news-heading p {
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	margin-left: 8px;
}

#homepage .news-block .news-content {
	display: flex;
	padding: 3px 8px 0 8px;
}

#homepage .news-block .news-last-block {
	background: #f4f4f4;
	text-align: center;
	height: 49px;
	padding-top: 3px;
	border-radius: 0px 0px 4px 4px;
}

#homepage .news-block .news-last-block p {
	text-transform: uppercase;
	color: #848484;
}

#homepage .betting-block {
	width: 300px;
	border-radius: 4px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
	margin-right: 10px;
}

#homepage .betting-block .betting-heading {
	background: #264988;
	color: white;
	height: 65px;
	border-radius: 4px 4px 0px 0px;
	display: flex;
}

#homepage .betting-block .betting-heading p {
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	margin-left: 8px;
}

#homepage .betting-block .betting-content {
	display: flex;
	padding: 3px 8px 0 8px;
}

#homepage .betting-block .betting-last-block {
	background: #f4f4f4;
	text-align: center;
	height: 49px;
	padding-top: 3px;
	border-radius: 0px 0px 4px 4px;
}

#homepage .betting-block .betting-last-block p {
	text-transform: uppercase;
	color: #848484;
}

@media (max-width: 770px) {
	#homepage .home-ad-block,
	#homepage .home-left-block .category-block,
	#homepage .jockey-table {
		display: none;
	}
	#homepage .home-left-block {
		margin: unset;
	}
	#homepage .home-left-block .hero-image-block {
		margin-top: 78px;
	}
	#homepage .home-left-block #tabs ul {
		justify-content: unset;
		gap: 8px;
	}
	#homepage .home-left-block #tabs ul li {
		padding: 9px 46px;
	}
	#homepage .home-left-block #tabs #tabs-1-table {
		padding: 0 4px;
		width: unset;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
	}
	#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td {
		height: unset;
	}
	#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td .table-2 {
		padding-top: 16px;
		padding-bottom: 5px;
	}
	#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td .table-2 tr td:nth-child(2) {
		padding-left: 47px;
	}
	#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td .table-2 tr td:nth-child(1) {
		width: 521px;
	}
	#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td .table-2 td {
		display: block;
	}
	#homepage .home-left-block .news-block-sm .news-content {
		flex-wrap: unset;
	}
}

@media (max-width: 450px) {
	#homepage .home-left-block .hero-image-block .hero-text {
		position: absolute;
		bottom: 30px;
		left: 75px;
	}
	#homepage .home-left-block .hero-image-block .hero-text p {
		margin-right: 24px;
		margin-bottom: 26px;
	}
	#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td .table-2 {
		margin-left: 50px;
	}
	#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td .table-2 tr td:nth-child(1) {
		width: 161px;
	}
	#homepage .home-left-block #tabs ul li {
		padding: 9px 3px;
	}
	#homepage .home-left-block .news-block-sm .news-content {
		flex-wrap: unset;
	}
	#homepage .home-left-block .racing-info-block {
		padding-left: 9px;
		padding-right: 17px;
	}
	#homepage .home-left-block .forum-thread-block {
		margin-right: 7px;
		margin-left: 10px;
		margin-top: 16px;
		margin-bottom: 16px;
	}
	#homepage .home-left-block .jockey-table-sm-wrapper {
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
		margin-right: 8px;
		margin-left: 9px;
		border: 4px;
	}
}

@media (max-width: 380px) {
	#homepage .home-left-block .hero-image-block {
		margin-top: 59px;
	}
	#homepage .home-left-block #tabs ul {
		gap: 3px;
	}
	#homepage .home-left-block #tabs ul li a {
		padding: 13px 13px;
	}
}

@media (max-width: 330px) {
	#homepage .home-left-block #tabs ul li a {
		padding: 13px 6px;
	}
	#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td .table-2 {
		margin-left: 34px;
	}
	#homepage .home-left-block #tabs #tabs-1-table .table-1 tr td .table-2 tr td:nth-child(1) {
		width: 82px;
	}
}

#footer-page {
	margin-top: 22px;
	background-color: #3675be;
	width: 100%;
}

#footer-page .first-footer-block {
	display: flex;
}

#footer-page .first-footer-block .image-block {
	flex: 1;
	margin-left: 138px;
}

#footer-page .first-footer-block .image-block img {
	height: 300px;
}

#footer-page .first-footer-block .logos {
	display: flex;
	flex-direction: column;
	gap: 22px;
	flex: 1;
	margin-left: 38px;
	margin-top: 69px;
}

#footer-page .first-footer-block .logos img {
	height: 58px;
	width: 186px;
	border-radius: 10px;
}

#footer-page .first-footer-block .text-block {
	flex: 1;
	margin-top: 24px;
}

#footer-page .first-footer-block .text-block h3 {
	color: white;
}

#footer-page .first-footer-block .text-block li {
	color: white;
	line-height: 24px;
}

#footer-page .second-footer-block ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	gap: 26px;
}

#footer-page .second-footer-block ul li a {
	text-decoration: none;
	color: white;
}

#footer-page .second-footer-block ul img {
	height: 63px;
}

#footer-page .footer-caution {
	color: white;
	padding: 16px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

#footer-page .footer-caution img {
	height: 58px;
}

@media (max-width: 770px) {
	#footer-page .footer-wrapper {
		display: none;
	}
	#footer-page .footer-sm .first-block {
		display: flex;
		flex-direction: column;
		padding-top: 31px;
		padding-left: 39px;
		padding-right: 54px;
		color: white;
	}
	#footer-page .footer-sm .second-block {
		display: flex;
		flex-direction: column;
		padding-top: 31px;
		padding-left: 39px;
		padding-right: 54px;
		color: white;
	}
	#footer-page .footer-sm .last-block {
		display: flex;
		gap: 29px;
		padding-left: 39px;
		padding-top: 18px;
		padding-bottom: 76px;
	}
}

@media (min-width: 780px) {
	.hide-above-sm {
		display: none !important;
	}
}

/*# sourceMappingURL=style.css.map */