#footer-page {
    margin-top: 22px;
    background-color: #3675be;
    width: 100%;
    .first-footer-block {
        display: flex;
       // justify-content: center;
        .image-block {
            flex: 1;
            margin-left: 138px;
           
            img {
                height: 300px;
            }
        }
        .logos {
            display: flex;
    flex-direction: column;
    gap: 22px;
    flex: 1;
    margin-left: 38px;
    margin-top: 69px;

            img {
                height: 58px;
                width: 186px;
                border-radius: 10px;
            }
        }
        .text-block {
            flex: 1;
            margin-top: 24px;
            h3{
                color: white;
            }
            li {
                color: white;
                line-height: 24px;
            }
        }
    }
    .second-footer-block {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            gap: 26px;
            li a {
                text-decoration: none;
                color: white;
            }
            img {
                height: 63px;
            }
        }
    }
    .footer-caution {
       // text-align: center;
        color: white;
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
    img {
        height: 58px;
    }
    }

    @media(max-width:770px) {
        .footer-wrapper {
            display: none;
           // width: 102.3%;
        }
        .footer-sm {
            .first-block {
                display: flex;
                flex-direction: column;
                padding-top: 31px;
                padding-left: 39px;
                padding-right: 54px;
                color: white;
            }
            .second-block {
                display: flex;
                flex-direction: column;
                padding-top: 31px;
                padding-left: 39px;
                padding-right: 54px;
                color: white;
            }
            .last-block {
                display: flex;
                gap:29px;
                padding-left: 39px;
                padding-top: 18px;
                padding-bottom: 76px;

            }
        }
    }
    // @media(max-width:500px) {
    //     .first-footer-block {
    //         display: flex;
    //         flex-direction: column;
    //         .image-block {
    //             margin-left: 51px;
    //         }
    //     }
    //     .second-footer-block {
    //         ul {
    //             gap: 14px;
    //         }
    //     }
    // }
    // .footer-sm {
    //    background-color: #3675be;
    //    p,h3 {
    //     color: white;
    //    }
    // }
}