body {
    font-family: 'Roboto';
    font-style: normal;
    //  position: relative;
}

.home-left-block {
    width: 1000px;

    .hero-image-block {
        background-repeat: no-repeat;
        height: 348px;
        width: 1000px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/horserace/img/hero-horse.jpg") no-repeat, #606060;
        background-size: cover;
        position: relative;
        margin-top: 140px;
        // margin-left: -11px;

        .hero-text {
            background-color: #273D83E5;
            color: white;
            position: absolute;
            bottom: 59px;
            left: 146px;
            padding-left: 18px;
        }

        .hero-top-text {
            color: white;
            position: absolute;
            left: 20px;
        }
    }

    #tabs-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        position: relative;
        gap: 20px;
        margin-bottom: 17px;

        button {
            padding: 8px 16px;
            background: #4A9DDA;
            border-radius: 20px;
            width: 220px;
            height: 41px;
            border: 0;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

   #tabs-1-table {
        // display: flex;
        // flex-direction: column;
        table {
            width: 1000px;
            border-collapse: collapse;
           tr th {
                background: linear-gradient(150deg, rgba(255, 255, 255, 0) 0%, rgba(41, 171, 226, 0.2) 100%), #2A3F74;
               // width: 1000px;
            }
          
            tr td {
                padding-left: 65px;
                padding-right: 21px;
                height: 70px;
            }
            tr:nth-child(odd) 
            {
                background-color: #e8f4fc;
            }
            
        }
        // + tr {
        //     width: 1000px;
        //     background: linear-gradient(150deg, rgba(255, 255, 255, 0) 0%, rgba(41, 171, 226, 0.2) 100%), #2A3F74;
        // }

        // .table-header {
        //     background: linear-gradient(150deg, rgba(255, 255, 255, 0) 0%, rgba(41, 171, 226, 0.2) 100%), #2A3F74;
        //     color: white;
        //     padding-left: 20px;
        //     padding-bottom: 11px;
        //     padding-top: 10px;

        //     p {
        //         margin: 0;
        //     }
        // }

        // .white-row,
        // .blue-row {
        //     display: flex;
        //     justify-content: space-around;
        //     height: 80px;
        //     align-items: center;

        //     a {
        //         color: black;
        //         text-decoration: none;
        //     }
        //     .first-column {
        //         flex: 1;
        //         margin-left: 43px;
        //     }
        //     .second-column {
        //         flex: 3;
        //     }
        //     .third-column {
        //         flex: 1;
        //     }
        // }
        // .blue-row {
        //     background-color: #e8f4fc;
        //     //opacity: 0.1;

        // }
    }
    #tabs-2-table {
        table {
            width: 1000px;
            border-collapse: collapse;
           tr th {
                background: linear-gradient(150deg, rgba(255, 255, 255, 0) 0%, rgba(41, 171, 226, 0.2) 100%), #2A3F74;
               // width: 1000px;
            }
            tr td {
                padding-left: 65px;
                padding-right: 21px;
                height: 70px;
            }
            tr:nth-child(odd) 
            {
                background-color: #e8f4fc;
            }
            
        }
    }

    .racing-info-block {
        p {
            font-size: 16px;
            line-height: 140.62%;
            font-weight: 400;
        }
    }

    .forum-thread-block {
        height: 152px;
        background: #D9D9D9;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-weight: 700;
        }
    }

    .category-block {
        display: flex;
        justify-content: space-around;
        background-color: #F2F2F2;

        a {
            color: #273D83;
            text-decoration: none;
        }
    }

    .jockey-table-header {
        display: flex;
        background: #E7F1F8;
    }

    .jockey-table {

        .rows,
        .alternate-rows {
            display: flex;
            justify-content: space-around;
            // height: 941px;
        }

        .alternate-rows {
            background: #E7F1F8;
        }
    }
}

.home-ad-block {
    position: absolute;
    top: 140px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .ad-blocks {
        //display: flex;
        //position: relative;
        background: #FFFFFF;
        height: 76px;
        width: 313px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        display: flex;

        .ad-text {
            margin-top: 7px;
            margin-left: 8px;
            flex: 3;
        }

        button {
            flex: 1;
            background: #FFC700;
            border-radius: 8px;
            /* width: 98px; */
            height: 56px;
            border: 0;
            margin-top: 9px;
            padding: 4px 12px;
            margin-right: 11px;
            font-weight: 900;
            font-size: 14px;
            line-height: 18px;
           
        }

        img {
            // margin-top: 6px;
            // margin-left: 9px;
            margin-bottom: 4px;
        }

        p {
            color: #333333;
            font-weight: 500;
            margin: 0 15px 0 5px;
            font-size: 14px;
        }

        .offer-image {
            // position: absolute;
            // top: 5px;
            // right: 8px;
            margin-top: -66px;

            .offer-text {
                //  position: absolute;
            }
        }

    }


    .offer-block {
        position: absolute;
        top: 684px;
        width: 310px;
        height: 216px;
        background: #264988;
        border-radius: 4px;
        padding-left: 5px;

        img {
            width: 143px;
            height: 63px;
        }

        h3 {
            padding-left: 6px;
            color: white;
            margin: 0;
            line-height: 25px;
        }

        p {
            padding-left: 6px;
            // line-height: 23px;
            color: white;
            margin-top: 9px;
            margin-bottom: 5px;
            // line-height: 20px;

        }

        button {
            width: 282px;
            height: 50px;
            padding-left: 5px;
            background: #FFC700;
            font-weight: 900;
    font-size: 14px;
    line-height: 18px;
    border: 0;
    margin-left: 9px;
        }
    }

    .news-block {
        position: absolute;
        top: 911px;
        width: 316px;
        border-radius: 4px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);

        .news-heading {
            background: #264988;
            color: white;
            height: 65px;
            // margin-top: 10px;
            border-radius: 4px 4px 0px 0px;

            p {
                font-weight: 700;
                font-size: 18px;
                font-style: normal;
                position: absolute;
                top: 5px;
                left: 9px;
            }
        }

        .news-content {
            display: flex;
            padding: 3px 8px 0 8px;

        }

        .news-last-block {
            background: #f4f4f4;
            text-align: center;
            height: 49px;
            padding-top: 3px;
            border-radius: 0px 0px 4px 4px;

            p {
                text-transform: uppercase;
                color: #848484;
                // margin-top: 3px;

            }

        }
    }

    .betting-block {
        position: absolute;
        top: 1359px;
        width: 316px;
        border-radius: 4px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);

        .betting-heading {
            background: #264988;
            color: white;
            height: 65px;
            // margin-top: 10px;
            border-radius: 4px 4px 0px 0px;

            p {
                font-weight: 700;
                font-size: 18px;
                font-style: normal;
                position: absolute;
                top: 5px;
                left: 9px;
            }
        }

        .betting-content {
            display: flex;
            padding: 3px 8px 0 8px;

        }

        .betting-last-block {
            background: #f4f4f4;
            text-align: center;
            height: 49px;
            padding-top: 3px;
            border-radius: 0px 0px 4px 4px;

            p {
                text-transform: uppercase;
                color: #848484;
                // margin-top: 3px;

            }

        }
    }
    
  
}

@media(max-width:500px) {
    #page-header .home-ad-block {
        display: none;
    }
}

