#homepage {
    font-family: 'Roboto';
    font-style: normal;
    //  position: relative;
    margin: 0;

    .ui-widget {
        font-family: 'Roboto';
        font-style: normal;
    }

    .ui-helper-clearfix:before,
    .ui-helper-clearfix:after {
        content: unset;
    }

    // .ui-helper-clearfix:after {
    //     content: unset;
    // }

    .ui-tabs .ui-tabs-nav {
        padding: unset;
    }

    .wrapper {
        margin: auto;
        max-width: 1400px;
        width: 100%;
        display: flex;
        gap: 11px;
    }

    .home-left-block {
        // width: 941px;
        margin-left: 9px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        //  flex: 3;

        .hero-image-block {
            display: flex;
            background-repeat: no-repeat;
            height: 348px;
            //  width: 941px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("/horserace/img/hero-horse.jpg") no-repeat, #606060;
            background-size: cover;
            position: relative;
            margin-top: 129px;
            flex-wrap: wrap;

            .hero-text {
                background-color: #273D83E5;
                color: white;
                position: absolute;
                bottom: 59px;
                left: 146px;
                // padding-left: 18px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                border-radius: 4px 0px 0px 4px;

                p {
                    margin-left: 34.93px;
                    margin-right: 123.4px;
                }

                h2 {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    margin-left: 34.93px;
                }
            }

            .hero-top-text {
                color: white;
                position: absolute;
                left: 20px;
            }

            .offer-sm {
                align-items: center;
                position: absolute;
                top: 19px;
                right: 7px;
                display: flex;
                flex-direction: column;
                background: #FFC700;
                border-radius: 4px;
                height: 64px;
                border: 0;
                justify-content: center;
                font-weight: 700;
                font-size: 14px;
            }
        }

        #tabs {
            border: 0;
            // width: 941px;


            ul {
                .ui-state-active {
                    opacity: 1;
                }

                margin-top: 12px;
                margin-bottom: 17px;
                background: white;
                border: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                //  padding: 0 !important;

                li {

                    padding: 9px 69px;
                    background: #4A9DDA;
                    border-radius: 20px;
                    height: 22px;
                    border: 0;
                    text-align: center;
                    opacity: 0.5;

                    a {
                        text-decoration: none;
                        color: white;
                        float: unset;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 140.62%;

                    }
                }
            }

            #tabs-1-table {
                padding: 0;

                .table1-header {
                    background: linear-gradient(150deg, rgba(255, 255, 255, 0) 0%, rgba(41, 171, 226, 0.2) 100%), #2A3F74;
                    text-align: left;
                    color: white;
                    font-size: 18px;
                    font-weight: 700;
                    padding-left: 21px;
                    padding-top: 12px;
                    border-radius: 4px 4px 0 0;

                    //  width: 941px;
                    h3 {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 140.62%;
                        margin: 0;
                    }

                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140.62%;
                        padding: 7px 0;
                        margin: 0;
                    }
                }

                .table-body {

                    //  margin-top: -17px;
                    .table-1:nth-of-type(even) {
                        background-color: #e8f4fc;
                        // width: -webkit-fill-available;
                    }
                }

                .table-1 {
                    // width: 941px;
                    border-collapse: collapse;
                    //  margin-left: 26px;
                    width: -webkit-fill-available;

                    tr td:nth-child(1) {
                        padding-left: 42px;
                    }

                    tr td {
                        // padding-left: 29px;
                        height: 70px;
                        font-size: 16px;



                        .table-2 {
                            //width: 611px;
                            margin-left: 100px;

                            tr td:nth-child(1) {
                                width: 529px;
                            }

                        }
                    }
                }
            }

            #tabs-2-table {
                padding: 0;

                #table-3 {
                    table {
                        //  width: 941px;
                        border-collapse: collapse;

                        tr th {
                            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(41, 171, 226, 0.2) 100%), #2A3F74;
                            text-align: left;
                            color: white;
                            font-size: 18px;
                            font-weight: 500;
                            padding-left: 21px;
                            padding-top: 12px;
                            height: 59px;

                            img {
                                margin-right: 9px;
                            }
                        }

                        tr td {
                            padding-left: 65px;
                            padding-right: 21px;
                            height: 70px;
                        }
                    }

                }

                table {
                    width: -webkit-fill-available;
                    border-collapse: collapse;

                    tr th {
                        background: #0D76BD;
                        text-align: left;
                        color: white;
                        font-size: 18px;
                        font-weight: 500;
                        padding-left: 21px;
                        padding-top: 12px;

                        pre {
                            font-family: 'Roboto';
                            font-size: 16px;
                            font-weight: 100;
                        }
                    }

                    tr td {
                        padding-left: 65px;
                        padding-right: 21px;
                        height: 70px;
                    }

                    tr:nth-child(odd) {
                        background-color: #e8f4fc;
                    }

                }
            }
        }

        .racing-info-block {
            //  width: 941px;

            p {
                font-size: 16px;
                line-height: 140.62%;
                font-weight: 400;
            }
        }

        .news-block-sm {

            border-radius: 4px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
            margin-left: 9px;
            margin-right: 7px;

            .news-heading {
                background: #264988;
                color: white;
                height: 65px;
                border-radius: 4px 4px 0px 0px;
                display: flex;
                flex-wrap: wrap;

                img {
                    margin-top: 19px;
                    width: 136.05px;
                    height: 132.92px;
                }

                p {
                    font-weight: 500;
                    font-size: 18px;
                    font-style: normal;
                    margin-left: 8px;
                    // position: absolute;
                    // top: 5px;
                    // left: 9px;
                }
            }

            .news-content {
                display: flex;
                padding: 3px 8px 0 8px;
                flex-wrap: wrap;

            }

            .news-last-block {
                background: #f4f4f4;
                text-align: center;
                height: 49px;
                padding-top: 3px;
                border-radius: 0px 0px 4px 4px;

                p {
                    text-transform: uppercase;
                    color: #848484;
                    // margin-top: 3px;

                }

            }
        }

        .forum-thread-block {
            //  width: 941px;
            height: 152px;
            background: #D9D9D9;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-weight: 700;
            }
        }

        .category-block {
            display: flex;
            justify-content: space-around;
            background-color: #F2F2F2;
            //width: 941px;

            a {
                color: #273D83;
                text-decoration: none;
            }
        }

        .category-block-sm {
            display: flex;
            justify-content: space-around;
            background-color: #F2F2F2;
            //width: 941px;

            a {
                color: #273D83;
                text-decoration: none;
            }
        }

        .jockey-table-sm {
            table {

                border-collapse: collapse;
                width: 100%;

                tr th {
                    height: 40px;
                    text-align: left;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 140.62%;
                }

                tr:nth-child(odd) {
                    background-color: #e8f4fc;
                }

                tr td {
                    height: 27px;
                }
            }
        }


        .jockey-table {
            // width: 941px;

            table {

                border-collapse: collapse;
                width: 100%;

                tr th {
                    height: 40px;
                    text-align: left;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 140.62%;

                    .jockey-heading {
                        display: inline-flex;
                        gap: 9px;
                        margin-top: 3px;
                        margin-left: 7px;
                        p {
                            margin: 0;
                        }
                    }

                }

                tr:nth-child(odd) {
                    background-color: #e8f4fc;
                }

                tr td {
                    height: 27px;
                }
            }
        }
    }

    .home-ad-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 128px;

        .ad-blocks {
            background: #FFFFFF;
            height: 72px;
            width: 300px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            display: flex;

            .ad-text {
                margin-top: 7px;
                margin-left: 8px;
                flex: 3;
            }

            button {
                flex: 1;
                background: #FFC700;
                border-radius: 8px;
                height: 56px;
                border: 0;
                margin-top: 9px;
                padding: 4px 12px;
                margin-right: 11px;
                font-weight: 900;
                font-size: 14px;
                line-height: 18px;

            }

            img {
                margin-bottom: 4px;
            }

            p {
                color: #333333;
                margin: 0 15px 0 5px;
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 16px;
            }

            .offer-image {
                margin-top: -66px;
            }

        }


        .offer-block {
            width: 300px;
            height: 216px;
            background: #264988;
            border-radius: 4px;
            padding-left: 5px;
            margin-right: 10px;

            img {
                width: 143px;
                height: 63px;
                margin-left: 10px;
            }

            h3 {
                color: white;
                margin: 0;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                margin-right: 66px;
                margin-left: 13px;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                margin-left: 13px;
                color: white;
                margin-top: 6px;
                margin-bottom: 8px;

            }

            button {
                width: 274px;
                height: 50px;
                padding-left: 5px;
                background: #FFC700;
                font-weight: 700;
                font-size: 18px;
                border: 0;
                margin-left: 9px;
                margin-left: 13px;
                margin-right: 14px;
                border-radius: 4px;
            }
        }
    }

    .news-block {
        // position: absolute;
        // top: 879px;
        width: 300px;
        border-radius: 4px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
        margin-right: 10px;

        .news-heading {
            background: #264988;
            color: white;
            height: 65px;
            border-radius: 4px 4px 0px 0px;
            display: flex;

            img {
                margin-top: 19px;
                width: 136.05px;
                height: 132.92px;
            }

            p {
                font-weight: 500;
                font-size: 18px;
                font-style: normal;
                margin-left: 8px;
                // position: absolute;
                // top: 5px;
                // left: 9px;
            }
        }

        .news-content {
            display: flex;
            padding: 3px 8px 0 8px;

        }

        .news-last-block {
            background: #f4f4f4;
            text-align: center;
            height: 49px;
            padding-top: 3px;
            border-radius: 0px 0px 4px 4px;

            p {
                text-transform: uppercase;
                color: #848484;
                // margin-top: 3px;

            }

        }
    }

    .betting-block {
        // position: absolute;
        // top: 1381px;
        width: 300px;
        border-radius: 4px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
        margin-right: 10px;

        .betting-heading {
            background: #264988;
            color: white;
            height: 65px;
            // margin-top: 10px;
            border-radius: 4px 4px 0px 0px;
            display: flex;

            p {
                font-weight: 500;
                font-size: 18px;
                font-style: normal;
                margin-left: 8px;
                // position: absolute;
                // top: 5px;
                // left: 9px;
            }
        }

        .betting-content {
            display: flex;
            padding: 3px 8px 0 8px;

        }

        .betting-last-block {
            background: #f4f4f4;
            text-align: center;
            height: 49px;
            padding-top: 3px;
            border-radius: 0px 0px 4px 4px;

            p {
                text-transform: uppercase;
                color: #848484;
                // margin-top: 3px;

            }

        }
    }

    @media(max-width:770px) {

        .home-ad-block,
        .home-left-block .category-block,
        .jockey-table {
            display: none;
        }

        .home-left-block {
            margin: unset;

            .hero-image-block {
                margin-top: 78px;
            }

            #tabs {
                ul {
                    justify-content: unset;
                    gap: 8px;

                    li {
                        padding: 9px 46px;
                    }
                }

                #tabs-1-table {
                    padding: 0 4px;
                    width: unset;
                    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);

                    //  box-shadow: 0px 4px 10px rgb(0 0 0 / 45%);
                    .table-1 {

                        tr td {
                            height: unset;

                            .table-2 {
                                padding-top: 16px;
                                padding-bottom: 5px;

                                tr td:nth-child(2) {
                                    padding-left: 47px;
                                }

                                tr td:nth-child(1) {
                                    // width: unset;
                                    width: 521px;
                                }

                                td {
                                    display: block;
                                }
                            }
                        }
                    }
                }

            }


            .news-block-sm .news-content {
                // width: 43%;
                flex-wrap: unset;
            }
        }
    }

    @media(max-width:450px) {
        .home-left-block {
            .hero-image-block {
                .hero-text {
                    position: absolute;
                    bottom: 30px;
                    left: 75px;

                    p {
                        margin-right: 24px;
                        margin-bottom: 26px;
                    }
                }
            }

            #tabs {
                #tabs-1-table {
                    .table-1 {
                        tr td {
                            .table-2 {
                                margin-left: 50px;

                                tr td:nth-child(1) {
                                    width: 161px;
                                }
                            }
                        }
                    }
                }
            }

            #tabs ul li {
                padding: 9px 3px;
            }

            .news-block-sm .news-content {
                flex-wrap: unset;
            }

            .racing-info-block {
                padding-left: 9px;
                padding-right: 17px;
            }

            .forum-thread-block {
                margin-right: 7px;
                margin-left: 10px;
                margin-top: 16px;
                margin-bottom: 16px;
            }

            .jockey-table-sm-wrapper {
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
                margin-right: 8px;
                margin-left: 9px;
                border: 4px;
            }
        }

    }

    @media(max-width:380px) {
        .home-left-block {
            .hero-image-block {
                margin-top: 59px;
            }

            #tabs ul {
                gap: 3px;

                li a {
                    padding: 13px 13px;
                }
            }
        }
    }

    @media(max-width:330px) {
        .home-left-block #tabs ul li a {
            padding: 13px 6px;
        }

        .home-left-block {
            #tabs {
                #tabs-1-table {
                    .table-1 {
                        tr td {
                            .table-2 {
                                margin-left: 34px;

                                tr td:nth-child(1) {
                                    width: 82px;
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}














// @media(min-width:1290px) {
//     .home-left-block {
//         width: 1018px;
//         .hero-image-block {
//             width: 1018px;
//         }
//         #tabs {
//             width: 1018px;
//             #tabs-1-table {
//                 .table1-header {
//                     width: 997px;
//                 }
//                 .table-1 {
//                     width: 1018px;
//                 }
//             }

//         }
//         .racing-info-block {
//             width: 1018px;
//         }
//         .forum-thread-block {
//             width: 1018px;
//         }
//         .category-block {
//             width: 1018px;
//         }
//         .jockey-table {
//             table {
//                 width: 1018px;
//             }
//         }
//     }
//     #footer-page {
//         margin-top: 370px;
//     }
// }



// .racing-info-block {
//     width: 750px;
// }
// .forum-thread-block {
//     width: 758px;
// }
// .category-block {
//     width: 758px;

// }
// .jockey-table {
//     width: 758px;
// }
// .news-block-sm {
//    width:758px;
// }


//mobile 

//     @media (max-width:500px) {
//         .home-left-block {
//             width: 425px;
//            margin-left: unset;

//             .hero-image-block {
//                 width: 425px;
//                 margin-top: 59px;

//                 .hero-text {
//                     background: linear-gradient(0deg, rgba(39, 61, 131, 0.9), rgba(39, 61, 131, 0.9)), #606060;
//                     bottom: 44px;
//                     left: 58px;
//                     opacity: 0.8;
//                     border-radius: 6px 0 6px 0;

//                 }
//             }

//             #tabs-1-table table {
//                 width: 424px;
//             }

//             #tabs-2-table table {
//                 width: 424px;
//             }
//         }

//         // .news-block {
//         //     top: 0;
//         // }
//     }

// @media(max-width:400px) {
//  .home-left-block {
//     width: 375px;
//     .hero-image-block {
//         width: 375px;
//         .hero-text {
//             p{
//                 margin-left: 18.93px;
//                 margin-right: unset;
//             }
//             h2 {
//                 margin-left: 18.93px;
//                 margin-right: unset;
//             }
//         }
//     }
//     #tabs {
//         width: 375px;
//         ul {
//             padding: unset;
//             justify-content: unset;
//             gap: 2px;
//             li {
//                 padding: 8px 15px;
//                 a {
//                     padding: unset;
//                 }
//             }
//         }
//         #tabs-1-table{
//             width: 375px;
//             .table1-header {
//                 width: 375px;
//             }
//             .table-1 {
//                 width: 375px;
//                td {
//                    display: block;
//                }
//         }
//          }
//          #tabs-2-table{
//             table {

//                 width: 375px;
//         }
//          }
//     }
//     .racing-info-block{
//         width: 375px;
//     }
//     .forum-thread-block {
//         width: 375px;
//     }
//     .category-block {
//         width: 375px;
//     }
//     .jockey-table {
//         width: 375px;
//         table {
//             width: 375px;
//         }
//     }

//  }
// }





//     @media (max-width: 770px) {
//         #homepage .home-ad-block .ad-blocks {
//             display: none;
//         }
//         .home-ad-block .offer-block {
//             position: unset;
//         }

//         .home-left-block {
//             width: 764px;


//             .hero-image-block {
//                 width: 760px;
//             }

//             #tabs-1-table table {
//                 width: 761px;
//             }

//             #tabs-2-table table {
//                 width: 761px;
//             }
//         }

//     }
// //mobile 

//     @media (max-width:500px) {
//         .home-left-block {
//             width: 425px;

//             .hero-image-block {
//                 width: 425px;
//                 margin-top: 78px;

//                 .hero-text {
//                     background: linear-gradient(0deg, rgba(39, 61, 131, 0.9), rgba(39, 61, 131, 0.9)), #606060;
//                     bottom: 44px;
//                     left: 58px;
//                     opacity: 0.8;
//                     border-radius: 6px 0 6px 0;

//                 }
//             }

//             #tabs-1-table table {
//                 width: 424px;
//             }

//             #tabs-2-table table {
//                 width: 424px;
//             }
//         }

//         .news-block {
//             top: 0;
//         }
//     }

// @media(max-width:400px) {

// }